@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');

@media screen and (max-width: 1280px) {
    .ui {
        position: absolute;
        width: 175px;
        justify-content: center;
        align-items: center;
        margin-left: 27%;
        padding-top: 7.5%;

    }

    .ui>* {
        font-family: 'Playfair Display', serif;
        font-size: 1.75em;
        fill-opacity: 0;
        margin: 0.6em;
        background-color: rgba(0, 0, 0, 0%);
        border: 1px solid rgba(0, 0, 0, 0.12);
        width: 100%;
    }

    .gridArea {
        height: 300px;
        width: 300px;
    }

    .bg {
        width: 1280px;
        height: 720px;
    }
}

@media screen and (min-width: 1281px) {
    .ui>* {
        font-family: 'Playfair Display', serif;
        font-size: 2em;
        fill-opacity: 0;
        margin: 0.75em;
        background-color: rgba(0, 0, 0, 0%);
        border: 1px solid rgba(0, 0, 0, 0.12);
        width: 100%;
    }

    .ui {
        position: absolute;
        width: 175px;
        justify-content: center;
        align-items: center;
        margin-left: 33%;
        padding-top: 8.7%;
    }

    .gridArea {
        height: 450px;
        width: 450px;
    }

    .bg {
        width: 1920px;
        height: 1080px;
    }
}

html,
body {
    position: relative;
    display: flex;
    justify-content: start;
    align-items: start;
    font-family: 'Playfair Display', serif;
    font-size: 16px;
    margin: 0;
    margin-top: -3em;
    border: 0;
    padding: 0;
    overflow: hidden;
    background: url(green_gradient_bg.png);
    transform: scaleY(-1);

}

.ui {
    /* position: absolute;
    width: 175px;
    justify-content: center;
    align-items: center;
    margin-left: 33%;
    padding-top: 10%; */
}

.ui>* {
    /* font-family: 'Playfair Display', serif;
    font-size: 2em;
    fill-opacity: 0;
    margin: 0.75em;
    background-color: rgba(0, 0, 0, 0%);
    border: 1px solid rgba(0, 0, 0, 0.12);
    width: 100%; */
}

.bg {
    position: relative;
    background: url(blank_canvas2.png);
    background-repeat: no-repeat;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
}

.gridArea {
    position: absolute;
    margin-left: 49%;
    margin-top: 8.4%;
    background-color: white;
    display: grid;
    border: 1px solid black;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.12),
        0 2px 2px rgba(0, 0, 0, 0.12),
        0 4px 4px rgba(0, 0, 0, 0.12),
        0 8px 8px rgba(0, 0, 0, 0.12),
        0 16px 16px rgba(0, 0, 0, 0.12);
}

input[type=range] {
    -webkit-appearance: none;
    background: #FFCA85;
}

input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    border: 0.15em solid white;
    outline: 1px solid black;

    height: 0.75em;
    width: 0.75em;
    /* border-radius: 3px; */
    background: white;
    /* cursor: pointer; */
    margin-top: -0.3em;
    margin-bottom: -0.3em;
    /* You need to specify a margin in Chrome, but in Firefox and IE it is automatic */
    box-shadow: 0 0 0 #000000, 0px 0px 1px #0d0d0d;
    /* Add cool effects to your sliders! */
}

button {
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.12);
}

button:hover {

    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.12),
        0 2px 2px rgba(0, 0, 0, 0.12),
        0 4px 4px rgba(0, 0, 0, 0.12),
        0 8px 8px rgba(0, 0, 0, 0.12),
        0 16px 16px rgba(0, 0, 0, 0.12);
}

.on {
    border: 1px solid black;
}

.sizeSlider {
    background-color: black;

}


.x {
    background-color: white;
    border: none;
    -webkit-user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

.xactive {
    /* background-color: rgb(87, 165, 255); */
    -webkit-user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}